html{
    scroll-behavior: smooth;
}

.header{
    height: 60px;
    position: relative;
    z-index: 10;
}

.navbar{
    position: fixed;
    background-color: rgb(59, 115, 246);
    width: 100%;
}

.logo{
    font-family: "Fuzzy Bubbles", sans-serif;
    margin-right: auto;
    margin-left: 1rem;
}

.logout-btn{
    margin-right: 1rem;
    background-color: white;
    border: none;
    border-radius: 16px;
    color: rgb(7, 69, 212);
    height: 2rem;
}

.logout-btn:hover{
    color: red;
}

.main-container {
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-gap: 10px;
    min-height: 100vh;
  }
  
  /* Media query to hide sidebar on mobile devices */
  @media (max-width: 768px) {
    .main-container {
      grid-template-columns: 1fr;  /* Hide sidebar on small screens */
    }
    #sidebar {
      display: none;  /* Hide sidebar content as well */
    }
  }

.menu{
    margin-bottom: 10px;
    border: none;
    background-color: transparent;
    border-radius: 100px;
    padding: 4px;
}
@media (min-width: 768px) {
    .menu{
        display: none;
    }
    
}

.menu:hover{
    background-color: rgb(28, 72, 173);
}

.menu-img{
    width: 32px;
    height: 32px;
}

.sidebar-container{
    position: relative;
    z-index: 5;
}

.sidebar{
    position: fixed;
    top: 55px;
    left: 0;
    height: 100%;
    width: 200px;
    padding-top: 15px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: white;
    border: 1px solid lightgray;
}

.side-action, .shortcut{
    display: flex;
    align-items: center;
    padding: 10px;
    gap: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    text-decoration: none;
    color: black;
}
.side-action:hover, .shortcut:hover{
    background-color: #e5e6e7;
}

.action-text{
    margin: 0;
}

.actions-container{
    border-bottom: 1px solid lightgray;
    margin-bottom: 10px;
}

.shortcuts{
    margin-top: 4px;
}

.shortcut{
    text-decoration: none;
    color: black;
}

.feed-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.feed-title{
    position: absolute;
    top: -32px;
    left: 0px;
    font-size: 1.5rem;
}

.feed{
    margin-top: 60px;
    position: relative;
    width: 70%;
    border: 1px solid lightgray;
    border-radius: 10px;
    padding: 1rem;
}

.no-grid{
    grid-template-columns: 1fr;
}

.active{
    position: absolute;
    display: block !important;
    z-index: 1;
    min-height: 100vh;
    border: 1px solid lightgray;
}

.login-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.login{
    border: 1px solid lightgray;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    width: 500px;
    max-width: 90%;
    padding: 1rem;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.3);
}

.modal-form{
    display: flex;
    flex-direction: column;
}

.form-control {
    width: 100%;
    height: 40px;
    background: white;
    border-radius: 4px;
    border: 1px solid silver;
    margin: 0px 0 10px 0;
    padding: 0 10px;
}

.to-login-btn, .to-register-btn{
    border: none;
    background-color: transparent;
    padding: 0;
    color: rgb(13, 110, 253);
}

.to-login-btn:hover, .to-register-btn:hover{
    text-decoration: underline;
}

.btn{
    z-index: 3;
}

.alert-container{
    position: relative;
    height: 30px;
    z-index: 1;
}

#alert-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
    position: absolute;
    top: -37px;
    z-index: 1;
    color: white;
    padding-top: 5px;
    transition: ease-in-out 0.5s;
}

.red{
    background-color: #cc0000;
    top: -7px !important;
    transition: ease-in-out 0.5s;
}

.green{
    background-color: #00cc00;
    top: -7px !important; 
    transition: ease-in-out 0.5s;
}

